projet_4/projet_4.json
[
    {
        "id": "b2dd82853e61e591",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08274c632cbc3289",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77cadf0d060c94e4",
        "type": "ui_tab",
        "name": "Projet_4 Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4f7988497a9b703f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#aa0000",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#aa0000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#aa0000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#f60000",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#aa0000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f38eba9dd69bee52",
        "type": "ui_group",
        "name": "Environment",
        "tab": "77cadf0d060c94e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "230895fe84c34243",
        "type": "ui_group",
        "name": "Motion",
        "tab": "77cadf0d060c94e4",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b0c3bb4fc2ab681",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.10.9",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "30a8fa33644bd5da",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fe3a19cc5187c02d",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "77cadf0d060c94e4",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4587b017914e0ce",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "56fde6796522d24e",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b64dabff8b6e25e1",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "56fde6796522d24e"
            ]
        ]
    },
    {
        "id": "821a426cc0b60e6a",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "7a5a28261992b6f7"
            ]
        ]
    },
    {
        "id": "7a5a28261992b6f7",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4c6804306cf3e3ef",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 40,
        "wires": [
            [
                "e415814ff1a81a1f"
            ]
        ]
    },
    {
        "id": "e415814ff1a81a1f",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "f38eba9dd69bee52",
        "order": 1,
        "width": 6,
        "height": 3,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d0109101f1696414",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "249a44313d4d0f77"
            ]
        ]
    },
    {
        "id": "249a44313d4d0f77",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 4,
        "width": 5,
        "height": 4,
        "label": "roll",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bed0b2bce046e8a0",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "e652474f77d37769"
            ]
        ]
    },
    {
        "id": "e652474f77d37769",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 6,
        "width": 5,
        "height": 4,
        "label": "yaw",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "77ca355198252b5d",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.gyroscope.z;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "3f8946a801c8cde4"
            ]
        ]
    },
    {
        "id": "3f8946a801c8cde4",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 2,
        "width": 5,
        "height": 3,
        "label": "pitch",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c614fad4616210ee",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "5fe40b6722e809f2"
            ]
        ]
    },
    {
        "id": "5fe40b6722e809f2",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 1,
        "width": 5,
        "height": 3,
        "label": "acceleration x",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a58ce04ac50fdab5",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "13a7a3d237961b13"
            ]
        ]
    },
    {
        "id": "13a7a3d237961b13",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 3,
        "width": 5,
        "height": 4,
        "label": "acceleration y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5aa927987154abb4",
        "type": "function",
        "z": "b2dd82853e61e591",
        "name": "",
        "func": "msg.payload = msg.payload.acceleration.z;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "4c2a95f408bed8c5"
            ]
        ]
    },
    {
        "id": "4c2a95f408bed8c5",
        "type": "ui_chart",
        "z": "b2dd82853e61e591",
        "name": "",
        "group": "230895fe84c34243",
        "order": 5,
        "width": 5,
        "height": 4,
        "label": "acceleration z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d42577b333dab3c6",
        "type": "mqtt in",
        "z": "b2dd82853e61e591",
        "name": "",
        "topic": "Sense-hat/env",
        "qos": "2",
        "datatype": "json",
        "broker": "8b0c3bb4fc2ab681",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b64dabff8b6e25e1",
                "4c6804306cf3e3ef",
                "821a426cc0b60e6a"
            ]
        ]
    },
    {
        "id": "41604b0c267f9a1a",
        "type": "delay",
        "z": "b2dd82853e61e591",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "7a924596430f2829",
                "c614fad4616210ee",
                "a58ce04ac50fdab5",
                "5aa927987154abb4",
                "d0109101f1696414",
                "bed0b2bce046e8a0",
                "77ca355198252b5d"
            ]
        ]
    },
    {
        "id": "7a924596430f2829",
        "type": "mqtt out",
        "z": "b2dd82853e61e591",
        "name": "",
        "topic": "Sense-hat/motion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b0c3bb4fc2ab681",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "c34489857b1b36ef",
        "type": "rpi-sensehat in",
        "z": "b2dd82853e61e591",
        "name": "motion",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 50,
        "y": 280,
        "wires": [
            [
                "41604b0c267f9a1a"
            ]
        ]
    },
    {
        "id": "4133a8fd3b244cd1",
        "type": "rpi-sensehat out",
        "z": "08274c632cbc3289",
        "name": "",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "526f1e529dab937c",
        "type": "function",
        "z": "08274c632cbc3289",
        "name": "",
        "func": "if(msg.payload == true)\n    msg.payload = msg.topic+\",red\";\nelse \n    msg.payload = msg.topic+\",off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 240,
        "wires": [
            [
                "4133a8fd3b244cd1"
            ]
        ]
    },
    {
        "id": "40e128fc3b9c84e7",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 0",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "541418db815b6fdd",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "dc2c7c09946009b1",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "e9f8264e85a9fc72",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 29,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "6e705ef7f28167e5",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 0",
        "label": "4 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 37,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "3f3c952b2d8adb19",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 45,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "722aec2a892ec658",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 53,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "f77bb01e74e5d8df",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 0",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 61,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "0,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "f1a18956512c4513",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 1",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "45db0e20396cb28c",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "68684ea87d6a2491",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "82e74bc2b00f487a",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 30,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "800d45e86e2e0e3a",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 1",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 38,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "a77e9c522795e951",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 46,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "c762c393c35f7c1f",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 54,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "090a1d5a0ad9a8c2",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 1",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 62,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "1,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "f9dd0769c8a76276",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 2",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "858460e2f3eebe36",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "0429e1572c532235",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "39af8c14fb4e0cd4",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 31,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "f51af9af51145793",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 2",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 39,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "cb4c16c879cf79b9",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 47,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "797d75b738b85fe0",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 55,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "43be5564fa6eab7e",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 2",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 63,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "2,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "ceb54c8e275eb7fe",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 3",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "da2f631a0bdb4cf3",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 16,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "0d82528a840517a2",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "34184a88ade39d8e",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 32,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "d7c988c63a47cf60",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "4 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 40,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "4ac9928a982954fd",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 48,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "6bce3ead6f922388",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 56,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "9582c1dadc142c6c",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 3",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 64,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "3,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "bcf4e895e4cd4754",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 4",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "280bc612202a76d4",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 17,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "d46e24ee80ffa4dd",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 25,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "cf757d411ca70162",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 33,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "44e46df913600c3a",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 4",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 41,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "1f9f57a6a65683c8",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 49,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "258e8524498999bb",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 57,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "7596adb60b52d0c2",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 4",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 65,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "4,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "56d2475df5db3c07",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 5",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "0da0aa4b63d5f77a",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 18,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "4643570e1a715c31",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 26,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "06140bf9eea5b1e2",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 34,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "5fdb3571bbea7a35",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 5",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 42,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "3649754a599b93ae",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 50,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "03a9c69d7dcda1c6",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 58,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "efc65ca4ba4919c7",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 5",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 66,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "5,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "39fab204f8bd6382",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 6",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "af920b6a52dc82fe",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "d2ad4142a2fa4010",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 27,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "c89c113491abfd84",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 35,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "5e420db82fdfea77",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 6",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 43,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "4258b231d2fa9733",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 51,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "de7106c7bbc071d1",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 59,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "d704787ebc21435f",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 6",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 67,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "6,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "0c4aafcbe394517d",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "0 7",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 40,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "23a5f5c1dc397e2f",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "1 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 100,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "ddd2cac47b23474a",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "2 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 28,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "177854ecdcf9facb",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "3 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 36,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 215,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "475457e380f53e3f",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "4 7",
        "label": "switch",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 44,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "d95f95e1c5f3fe1c",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "5 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 52,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "58bcb331500d73e9",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "6 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 60,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "022c6bcfeb4a783e",
        "type": "ui_switch",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "7 7",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 68,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "7,7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 455,
        "wires": [
            [
                "526f1e529dab937c"
            ]
        ]
    },
    {
        "id": "0336d39b18c36691",
        "type": "exec",
        "z": "08274c632cbc3289",
        "command": "cd ~; python3 test.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "7b8357beaae73601"
            ],
            [],
            []
        ]
    },
    {
        "id": "9bde9623365d2727",
        "type": "ui_text_input",
        "z": "08274c632cbc3289",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fe3a19cc5187c02d",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "0336d39b18c36691"
            ]
        ]
    },
    {
        "id": "c2b0516979230772",
        "type": "ui_template",
        "z": "08274c632cbc3289",
        "group": "fe3a19cc5187c02d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p>Entrer le lien d'une image {{msg.topic}} :</p>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9fe5483d37112bd1",
        "type": "ui_button",
        "z": "08274c632cbc3289",
        "name": "bengi",
        "group": "fe3a19cc5187c02d",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "white",
        "className": "",
        "icon": "https://thumbs.dreamstime.com/z/ic%C3%B4ne-de-loupe-ou-recherche-123898043.jpg",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "692b7b5781d1f9d0"
            ]
        ]
    },
    {
        "id": "bcb055da43d62431",
        "type": "ui_button",
        "z": "08274c632cbc3289",
        "name": "",
        "group": "fe3a19cc5187c02d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Led Reinitialisation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "cebadcc3c6513e78"
            ]
        ]
    },
    {
        "id": "cebadcc3c6513e78",
        "type": "function",
        "z": "08274c632cbc3289",
        "name": "",
        "func": "msg.payload = false\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "f77bb01e74e5d8df",
                "722aec2a892ec658",
                "3f3c952b2d8adb19",
                "6e705ef7f28167e5",
                "e9f8264e85a9fc72",
                "dc2c7c09946009b1",
                "541418db815b6fdd",
                "40e128fc3b9c84e7",
                "090a1d5a0ad9a8c2",
                "c762c393c35f7c1f",
                "a77e9c522795e951",
                "800d45e86e2e0e3a",
                "82e74bc2b00f487a",
                "68684ea87d6a2491",
                "45db0e20396cb28c",
                "f1a18956512c4513",
                "43be5564fa6eab7e",
                "797d75b738b85fe0",
                "cb4c16c879cf79b9",
                "f51af9af51145793",
                "39af8c14fb4e0cd4",
                "0429e1572c532235",
                "858460e2f3eebe36",
                "f9dd0769c8a76276",
                "ceb54c8e275eb7fe",
                "da2f631a0bdb4cf3",
                "0d82528a840517a2",
                "34184a88ade39d8e",
                "d7c988c63a47cf60",
                "4ac9928a982954fd",
                "6bce3ead6f922388",
                "9582c1dadc142c6c",
                "7596adb60b52d0c2",
                "258e8524498999bb",
                "1f9f57a6a65683c8",
                "44e46df913600c3a",
                "cf757d411ca70162",
                "d46e24ee80ffa4dd",
                "280bc612202a76d4",
                "bcf4e895e4cd4754",
                "efc65ca4ba4919c7",
                "03a9c69d7dcda1c6",
                "3649754a599b93ae",
                "5fdb3571bbea7a35",
                "06140bf9eea5b1e2",
                "4643570e1a715c31",
                "0da0aa4b63d5f77a",
                "56d2475df5db3c07",
                "d704787ebc21435f",
                "de7106c7bbc071d1",
                "4258b231d2fa9733",
                "5e420db82fdfea77",
                "c89c113491abfd84",
                "d2ad4142a2fa4010",
                "af920b6a52dc82fe",
                "39fab204f8bd6382",
                "022c6bcfeb4a783e",
                "58bcb331500d73e9",
                "d95f95e1c5f3fe1c",
                "475457e380f53e3f",
                "177854ecdcf9facb",
                "ddd2cac47b23474a",
                "23a5f5c1dc397e2f",
                "0c4aafcbe394517d"
            ]
        ]
    },
    {
        "id": "7b8357beaae73601",
        "type": "function",
        "z": "08274c632cbc3289",
        "name": "",
        "func": "if(msg.payload == \"0\\n\"){\n    msg.payload = \"0,0,off\"\n    msg.topic = \"(Unvalid URL)\"\n}\nelse\n    msg.topic = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "4133a8fd3b244cd1",
                "c2b0516979230772"
            ]
        ]
    },
    {
        "id": "692b7b5781d1f9d0",
        "type": "function",
        "z": "08274c632cbc3289",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "9bde9623365d2727"
            ]
        ]
    }
]